 /*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap'); 

body {
	font-family: 'Roboto', sans-serif;
}

a {
  color: inherit; 
  text-decoration: inherit; /
}

section {
	width:97%;
	margin: auto;
}

.banner-title {
	font-size:2.5rem;
	margin-top:5rem;
}
.hero-subtitle{
	font-size:1.1rem;
	line-height:1.5rem;
}
.hero-banner {
	height:85vh;
	display:flex;
	justify-content:flex-start;
}


.hero-banner button {
	padding:12px 18px;
	background-color:red;
	color:white;
	border-radius:5px;
	border:none;
}

.hero-desc {
	width:40%;
	height:30%;
	color:white;
	margin-left:10rem;
}	
	
.hero-section{
	background-image:url("assets/banner-image.png");
	background-color:black;
	background-position:right;
	background-repeat:no-repeat;
	position:relative;
	border-radius:10px;
}

.hero-section:hover {
	background-color:limegreen;
	transition-duration: 10s;
}

/*style for the main section*/
main {
	margin-top:0.9rem;
}
.main-section-container {
	display:flex;
}

.left-button-box {
	width:300px;
	height:300px;
	background-color:black;
	border-radius:10px;
}

.button-wrapper {
	margin-top:30px;
	list-style:none;
	padding-left:25px;
}

.button-wrapper li {
	margin-top:35px;
	margin-bottom:35px;
}

.btn-box-white {
	background-color: white;
	font-size:1rem;
	font-weight:bold;
	width:75%;
	padding:15px 20px;
	border-radius:5px;
	text-align: center;
	text-decoration: none;
	display:block;
}

.btn-box-red {
	background-color:red;
	color:white;
}
.right-video-gallery{
	max-width:700px;
}

.transfer {
	padding:8px 30px;
	border:2px solid grey;
	border-radius:5px;
	background-color:white;
	font-size:1rem;
	font-weight:bold;
}

.video-thumbnail-wrapper{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-row-gap:30px;
}

.video-box {
	margin-left:20px;
	border-radius:5px;
}

.tablet-button-wrapper{
	display:none;
}
.icon-text-wrapper {
	display:flex;
}

.icon-text {
	display:flex;
	margin-right:20px;
}

.icon-text img {
	margin-right:2px;
}

.icon-text span {
	position:relative;
	top:1px;
	font-size:14px;
	font-weight:500;
}

/*footer section styles*/
.footer-section {
	background-color:black;
	height:300px;
	display:flex;
	flex-direction:column;
	margin-top:100px;
}


.footer-heading h1 {
	margin-top:3rem;
	color:white;
	text-align:center;
	font-size:2rem;
}

.footer-link hr{	
	width:90%;
	text-align:center;
	border: 0.5px solid #f9f9f930;
}

.footer-nav,.social-icon-wrapper {
	list-style:none;
	text-align:center;
}

.social-icon-wrapper{
	padding:0px;
}

.footer-nav li,.social-icon-wrapper li {
	display:inline-block;
	padding:20px;
	color:white;
}

.social-icon-wrapper li {
	padding:10px;
	font-size:1.5rem;
}



.social-icon-wrapper li :hover {
	color:lightgrey;
}

/* style for the upcoming matches page */
.upcoming-matches-wrapper {	
	width:32%;
	border: 0.5px solid lightgrey;
	border-radius:5px;
	margin-bottom:10px;
	margin-right:5px;
}
.upcoming-matches {
	padding:10px;
	display:flex;
	align-items:center;
	margin-left:20px;
	
}

.upcoming-matches span {
	
	padding:10px;
	font-weight:bold;
}
.match-desc{
	text-align:center;
}

.match-desc h3{
	margin: 10px 0px;
}

.right-matches-gallery {
	width:70%;
	margin-left:20px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	
}

.img-responsive {
	max-width:100%;
	height:auto;
}

/*-------------responsive styles---------*/

@media screen and (min-width:577px) and (max-width:992px){
	
	.main-section-container {
	display:block;
	}
	.banner-title {
	font-size:2.2rem;
	margin-top:2rem;
	}
	.hero-subtitle{
	font-size:0.9rem;
	line-height:1 rem;
	}
	.hero-banner {
	height:70vh;
	display:flex;
	justify-content:flex-start;
	}
	
	
	.button-wrapper {
	display:flex;	
	margin-top:30px;
	list-style:none;
	padding-left:25px;
}

	.button-wrapper li {
	margin-top:35px;
	margin-bottom:35px;
	}
	
	.left-button-box {
	width:90%;
	height:auto;
	margin:auto;
	background-color:white;
	border-radius:10px;
	}
	.video-thumbnail-wrapper {
	display:grid;
	grid-template-columns:repeat(2,1fr);
	justify-content:center;
	grid-row-gap:50px;
	}
	.right-video-gallery{
	width:90%;
	margin:auto;
	}
	.tablet-button-wrapper {
		display:block;
		width:20%;
		margin:auto;
	}
	.tablet-button {
		margin-top:50px;
	}
	.upcoming-matches-wrapper {	
	width:50%;
	}
	.upcoming-matches {
	padding:10px;
	display:block;
	margin-left:0px;
}
	.right-matches-gallery {
	width:90%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	}
	.footer-section {
	background-color:black;
	height:400px;
	display:block;
	}

	
}

/*-------------responsive styles---------*/
@media screen and (max-width:576px) {
	.banner-title {
	font-size:1.5rem;
	margin-top:2rem;
	}
	.hero-subtitle{
	font-size:0.8rem;
	line-height:1 rem;
	}
	.hero-banner {
	height:70vh;
	display:flex;
	justify-content:flex-start;
	}
	.hero-desc{
		width:100%;
		text-align:center;
		margin-left:0rem;
	}
	.left-button-box {
	width:100%;
	height:300px;
	background-color:white;
	border-radius:10px;
	}
	
	.btn-box-white {
	position:relative;
    top:50px;	
	background-color: white;
	font-size:0.8rem;
	padding:10px 20px;
	border:1px solid lightgrey;
	}
	.btn-box-red {
	background-color:red;
	color:white;
	}
	
	.main-section-container {
	display:block;
	}
	
	.right-video-gallery{
	width:100%;
	}
	.video-thumbnail-wrapper{
	display:grid;
	grid-template-columns:repeat(1,1fr);
	justify-content:center;
	grid-row-gap:50px;
	}
	.footer-section {
	background-color:black;
	height:600px;
	display:block;
	}


	.footer-heading h1 {
	margin-top:100px;
	font-size:2rem;
	}



	.footer-nav li,.social-icon-wrapper li {
	display:block;
	
	}

	.social-icon-wrapper li {
	display:inline-block;
	padding:10px;
	font-size:1.5rem;
	}

	.social-icon-wrapper li :hover {
	color:lightgrey;
	}
	.upcoming-matches-wrapper {	
	width:100%;
	border: 0.5px solid lightgrey;
	border-radius:5px;
	margin-bottom:10px;
	margin-right:5px;
	}
	.right-matches-gallery {
	width:90%;
	margin:auto;
	display:block;

	}
	
}




 
